*{
	margin: 0px;
	padding: 0px;
}
body{
	background : #6EABCF url(../imagenes/10.jpg) repeat;
	font : 12pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #666666;
	margin : 20px 0px 20px 0px;
	text-align: center;
}
#contenedor{

	text-align: justify;
	width: 1000px;
	background-color : #ffffff;
	margin: auto;
} 
#cabecera{
	height : 150px;
	width: 1000px;
	background: rgb(41,70,102);
	background: radial-gradient(circle, rgba(41,70,102,1) 9%, rgba(15,15,17,1) 100%);
	text-align: center;
	
} 
#cabecera h1{
	position:relative;
	top:10%;
	font: ITALIC, 18pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #d5dde3;
	}
	

		

#cabecera h2{
	position:relative;
	top:20%;
	font: italic, 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #d5dde3;
}
#barra_navegacion{
	position:relative;
	width: 980px;
	text-align:center;
	background : #a0b3bf;
	padding : 3px 10px 5px 10px;
	border-top : 1px solid #cccccc;
	border-bottom : 1px solid #cccccc;
} 
A.enlacenav, A.enlacenav:VISITED, A.enlacenav:ACTIVE, A.enlacenav:FOCUS, A.enlacenav:LINK{
color: #494E6B;
}
A.enlacenav:HOVER{
color: #3F7DE3;
} 

#cuerpo{
width:700px;
margin-left: 50px;
padding: 12px 20px 10px 20px;
background-color : #ffffff;
float:left;
background: rgba(255, 255, 255, .6)

} 


#cuerpo h1{
	color:#335c75;
	font-size: 18pt;
	font-weight : bold
	}

ul
{
list-style-type: none;
padding: 0px;
margin: 0px;

}
li
{
background-image: url("../imagenes/vineta.png");
background-repeat: no-repeat;
background-position: 02px 3px;
padding-left: 20px;
}

#seccion{
font: 12pt Verdana, Geneva, Arial, Helvetica, sans-serif; 
width: 195px;
height:auto;
background-color: #c8c8c8;
float:right; 
border-radius: 15px; 
-moz-border-radius: 15px; 
-webkit-border-radius: 15px; 
height:150px;


padding: 2px 2px 20px 2px;

}
#seccion h1{
width: 195px;
border-top-left-radius: 15px 15px;
border-top-right-radius: 15px 15px;
background-color:#426277;
padding: 0px;
color: #d5dde3;
font-family:verdana;
font-size: 18px;
text-align:center;
}
#seccion h2{
width: 195px;
background-color:#426277;
color: #d5dde3;
padding: 0px;
font-family:verdana;
font-size: 18px;
text-align:center;
}
#seccion h2:hover{
opacity:0.60;
}

form {
padding:2px 0px 50px 0px;
border:1px dotted;
font-size:12px;
display: inline-block;
}
input{
width:100px;
float:right;
opacity:0.60;
}
.boton {

} 
label{
width:78px;
float:left;

}
#galeria{
margin: 10px 10px 10px 10px;
width: 950px;
height:auto;
background-color: #c8c8c8;
float:right; 
border-radius: 15px; 
-moz-border-radius: 15px; 
-webkit-border-radius: 15px; 

padding: 2px 2px 20px 2px;
}


div.imagen
{
  margin: 2px;
  border: 0px solid #0000ff;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
  
}	
div.imagen img
{
  display: inline;
  margin: 3px;
  border: 1px solid #ffffff;
  opacity:0.4;
filter:alpha(opacity=40);
}
div.imagen a:hover img {border: 1px solid #0000ff;
 opacity:1.0;
filter:alpha(opacity=100);}

div.desc
{
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 2px;
  /*text-shadow: 0.1em 0.1em #333*/
}

.actual{
	background-color:#72afd5;
	opacity:0.60;
	padding:3px;
	}
	
.varias{
   -moz-column-count:2;
   -moz-column-gap:40px;
   -moz-column-rule: 3px solid #ccf;

   -webkit-column-count:2;
   -webkit-column-gap:40px;
   -webkit-column-rule: 3px solid #ccf;
    
   }
#piepagina{
	position:relative;
	top:99%;
	margin:20px;
	background-color:red;
	width:1000px;
	height:100px;
	font: 10pt Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #fff;
}